body {
  padding: 0;
    padding-top: 50px;
  font: 14px "Microsoft YaHei","Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#container{
    margin-top:120px;
    padding-left:20px;
}
.reg-error{
    color:red;
    display:none;
}
footer{
    background: #000;
    margin-top: 20px;
    color: #FFF;
}
#container{
    /*margin-bottom: 20px;*/
    margin-top:50px;
}
.sectiontitle04, .sectionsubtitle04 {
    color: #898989;
}
.sectiontitle {
    font-size: 36px;
    font-weight: 600;
    position: relative;
    border-bottom: 1px solid #efeff0;
    margin-bottom: 15px;
}
.sectiontitle small {
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    right: 15px;
    bottom: 5px;
}
.navbar-nav .floatright{
    float:right;
}
.cogtu-form-img{
    max-width:320px;
    max-height:50px;
}